// Colors Primarys
$primary: #4e0f59;
$secondary:#80216e;
$terceary: #240c29;

// Fonts Colors
$font-light: #fff;
$font-dark: #4f1f4c;
$font-pink: #c18db7;

// Border Colors
$border-light: #fff;


// Background Colors
$background-light: #fff;

//help
$aux1: #451366;
$aux2: #c23f89