.top-bar {
  height: 170px;
  background-color: $background-light;
  display: flex !important;
  .ui.grid {
    margin: 0;
    padding: 0;
    
    .column {
      padding: 0;
    }
  }
  
  &__left {
    display: flex !important;
    align-items: center;
    
    img {
      height: 154px;
      transition: all 0.5s;
      margin-left: 50px;
      &:hover {
        transform: translateX(-15px);
      }
    }
  }

  &__right {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}