
.carousel-box {
  position: relative;
  z-index: 0; 
  .fondo {
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 500px; 
    background-repeat: no-repeat;
    position: relative;
    background: linear-gradient(to right top, $primary,   #fff);
 
    p {
      font-size: 22px;
    }

  
  } 
}




