
.carousel-box {
  min-height: 85vh;
  
  .carousel-indicators{
    button {
      background-color: $primary !important;
      color:  $aux1 !important;
    }
  }
  .carousel-item {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev-icon {
    background-color: $aux1 !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 20px !important;
  }

  .carousel-control-next-icon {
    background-color: $aux1 !important;
    border-radius: 50%;
    font-size: 20px !important;
    width: 50px;
    height: 50px;
    padding: 20px !important;
  }
  
  @supports(object-fit: cover){
    .carousel-item img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
}




