.footer {
  background-color: $primary !important;
  h3 {
    color: $font-light;
  }
  p {
    color: $font-light;
    font-size: 1.1em;
    font-weight: 800;
    transition: 0.5s;
  }
  p:hover {
    transform: translateX(5px);
  }
  .about-us {
    color: $font-light;
    font-size: 1.1em;
    font-weight: 800;
  }
}

.social-icons {
  a:hover {
    transform: translateY(-3px);
    transition: 0.5s;
  }
}

$breakpoint-phone: 425px;
@media (max-width: $breakpoint-phone) {
  .social-icons {
    margin-right: 0 !important;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5px !important;
  }
}
