.carousel-control-prev-icon {
  background-color: $aux1 !important;
  color: $primary !important;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  padding: 16px !important;
}

.carousel-control-next-icon {
  background-color: $aux1 !important;
  border-radius: 50%;
  font-size: 20px !important;
  width: 5px;
  height: 5px;
  padding: 16px !important;;
}